$primary-color: #3498db;    
$secondary-color: #2ecc71;  
$accent-color: #f39c12;    
$primary-color-hover:#2980b9;
$primary-color-active:#1c6ea4;
$text-color: #333;          
$light-text-color: #777;    
$background-color: #f4f4f4;
$card-background: #fff;
$gray-color:#555;
$border-color: #ddd;        
$hover-border-color: #ccc;     
$success-color: #28a745;  
$error-color: #dc3545;      
$warning-color: #ffc107; 
$algha-black:rgba(0, 0, 0, 0.1);  
$algha-black-2:rgba(0, 0, 0, 0.5);  
$red-color:#d32f2f;
$red-2:#d32f2f;
$gray-1:#2d2d2d;
$gray-2:#e5e5e5;
$gray-3:#eee;
$gray-4:#f9f9f9;
$blue-1:#0070f3;
$border-radius:14px;